.jumbotron-bg {
  background-image: url('../../../assets/images/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 210px;
  background-repeat: no-repeat;
  color: white;
}
