<nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ProductApp</a>
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#">Products</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link disabled" aria-disabled="true">Contact</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid jumbotron-bg">
  <div class="container">
    <h3 class="display-4">ProductApp</h3>
  </div>
</div>

